<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles/gpa.css"/>
</head>
<body style="background-color: rgb(254, 253, 246);">
    <div id="head">
        
        <h1 id="headtext">Grade Pro</h1>
    </div>


        
    <div id="gradeset">
        <div id="inputbackground">
        
        </div>



        
        <div id="Titletext">
            <h2>Input Letter Grades </h2>
        </div>
        <h2 id="grade"></h2>
        <div id="whole">

        <form action="{{ url }}" method="POST">
            <div id="first">

                <select name="weight1" id="weight1">
                    <option value="Regular">Regular</option>
                    <option value="AP">AP/IB</option>
                    <option value="Honors">Honors</option>
                </select>
                <input type="text" class="firstrow" name="firstrow" value="{{ value1 }}" style="font-size: 15px;">
                
            </div>
            <div id="second">
                <select name="weight2" id="weight2">
                    <option value="Regular">Regular</option>
                    <option value="AP">AP/IB</option>
                    <option value="Honors">Honors</option>
                </select>
                <input type="text" class="secondrow" name="secondrow" value="{{ value2 }}" style="font-size: 15px;">
            </div>

            <div id="third">
                <select name="weight3" id="weight3">
                    <option value="Regular">Regular</option>
                    <option value="AP">AP/IB</option>
                    <option value="Honors">Honors</option>
                </select>
                <input type="text" class="thirdrow" name="thirdrow" value="{{ value3 }}" style="font-size: 15px;">
            </div>

            <div id="fourth">
                <select name="weight4" id="weight4">
                    <option value="Regular">Regular</option>
                    <option value="AP">AP/IB</option>
                    <option value="Honors">Honors</option>
                </select>
                <input type="text" class="fourthrow" name="fourthrow" value="{{ value4 }}" style="font-size: 15px;">
            </div>

            <div id="fifth">
                <select name="weight5" id="weight5">
                    <option value="Regular">Regular</option>
                    <option value="AP">AP/IB</option>
                    <option value="Honors">Honors</option>
                </select>
                <input type="text" class="fifthrow" name="fifthrow" value="{{ value5 }}" style="font-size: 15px;">
            </div>

            <div id="sixth">
                <select name="weight6" id="weight6">
                    <option value="Regular">Regular</option>
                    <option value="AP">AP/IB</option>
                    <option value="Honors">Honors</option>
                </select>
                <input type="text" class="sixthrow" name="sixthrow" value="{{ value6 }}" style="font-size: 15px;">
            </div>

            <div id="seventh">
                <select name="weight7" id="weight7">
                    <option value="Regular">Regular</option>
                    <option value="AP">AP/IB</option>
                    <option value="Honors">Honors</option>
                </select>
                <input type="text" class="seventhrow" name="seventhrow" value="{{ value7 }}" style="font-size: 15px;">
            </div>

            <div id="eighth">
                <select name="weight8" id="weight8">
                    <option value="Regular">Regular</option>
                    <option value="AP">AP/IB</option>
                    <option value="Honors">Honors</option>
                </select>
                <input type="text" class="eighthrow" name="eighthrow" value="{{ value8 }}" style="font-size: 15px;">
            </div>

            <div id="nineth">
                <select name="weight9" id="weight9">
                    <option value="Regular">Regular</option>
                    <option value="AP">AP/IB</option>
                    <option value="Honors">Honors</option>
                </select>
                <select name="weight10" id="weight10">
                    <option value="Regular">Regular</option>
                    <option value="AP">AP/IB</option>
                    <option value="Honors">Honors</option>
                </select>
                <input type="text" class="ninethrow" name="ninethrow" value="{{ value9 }}" style="font-size: 15px;">
            </div>

            <div id="tenth">
                <input type="text" class="tenthrow" name="tenthrow" value="{{ value10 }}" style="font-size: 15px;">
            </div>
            <input type="submit" value="Calculate" id="submit">
            
            
        </form>
        </div>
        <h2 id="answer">Final GPA: </h2>
        <div id="letter-box">
            
        </div>
        <div id="letter-box2">
            
        </div>
        <h3 id="letter">{{ gpa }}</h3>
        <h3 id="letter2">{{ weighted }}</h3>

    </div>

       
    </div>

    


</body>
</html>