<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles/homepage.css">
</head>
<body>
    <div id="head">
        <h1 id="headtext">Grade Pro</h1>
    </div>
    <img src="https://cdn0.iconfinder.com/data/icons/education-134/292/grade-2-512.png">
    <form action="/" method="POST">
        <input type="submit" name="gradegpa" value="Grade Calculator" id="calc">
        <input type="submit" name="gradegpa" value="GPA Calculator" id="calculate">
    </form>
</body>
</html>