<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles/password.css">
</head>
<body style="background-color: rgb(255, 238, 218)">
    
    <div id="Whitebox">

    </div>
    <div style="font-family: Arial;">
        <p id="forgot" style="font-size: 15x">Forgot password?</p>
        <p id="phone" style="font-size: 25px;">Password</p>
        <p id="signin" style="font-size: 60px;">Welcome</p>
    </div>



<input type="checkbox" onclick="myFunction()" class="check">

    <form action="{{ url }}" method="POST">
        <input type="password" name="password" id="password" style="font-size: 25px;" value="">
        <input type="submit" name="submit" id="submit" value="Next">
    </form>

    <script>
        function myFunction() {
          var x = document.getElementById("password");
          if (x.type === "password") {
            x.type = "text";
          } else {
            x.type = "password";
          }
        }
    </script>
    
        <div style="font-family: lexend;">
            <p id="show" style="font-size: 12;">Show password</p>
        </div>

        
    <div style="font-family: Arial;">
        <p id="reject" style="font-size: 12;">{{ wrong }}</p>
    </div>






</body>
</html>