#head{
    display: flex;
    background-color: rgb(255, 241, 224);
    border: 0px;
}

#headtext{
    transform: translate(430px, 0px);
}

#calculate2{
    transform: translate(250px, 43px);
    height:50px;
    width:300px;
    background-color: rgb(101, 153, 197);
    border-color: rgb(101, 153, 210); 
}

#image_calc{
    width: 600px;
    border-color: rgb(0, 103, 89);
    border-style: solid;
    transform: translate(100px, 100px);
    border-radius: 10%;
}

#image_gpa{
    width: 600px;
    border-color: rgb(0, 103, 89);
    border-style: solid;
    transform: translate(200px, 100px);
    border-radius: 10%;
}

#calc{
    width: 200px;
    transform: translate(900px, -670px);
    height:50px;
    background-color: bisque;
    border-color: bisque;
}

#calc2{
    transform: translate(50px, 43px);
    height:50px;
    width:300px;
    background-color: rgb(85, 183, 155);
    border-color: rgb(95, 206, 174); 
}

#calculate{
    width: 200px;
    transform: translate(700px, -670px);
    height:50px;
    background-color: bisque;
    border-color: bisque;
}